{% extends "app/layout.html" %}
{% block title %}
Burn Note
{% endblock %}
{% block content %}
<p id="secret-message"></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const encrypted = `{{ encrypted_message }}`;
    const aesKey = window.location.hash.slice(1);
    console.log({encrypted, aesKey})

    try {
        const decrypted = CryptoJS.AES.decrypt(encrypted, aesKey);
        const secretMessage = decrypted.toString(CryptoJS.enc.Utf8);
        document.getElementById("secret-message").innerText = secretMessage;
    } catch (e) {
        document.getElementById("secret-message").innerText = "Message is not available.";
    }

    // fetch(`${window.location.origin}/delete/{{ token }}`, { method: "DELETE", headers: {
    //     "X-CSRFToken": "{{ csrf_token }}"
    // }, })
    // .then(response => {
    //     if (!response.ok) {
    //         // TODO: handle logging error
    //         console.log('Logging failure to delete secret message');
    //     }
    // })
    // .catch(error => {
    //     // TODO: handle logging error
    //     console.log('Logging failure to delete secret message');
    // });

</script>
{% endblock %}