{% extends "app/layout.html" %}
{% block title %}
Burn Note
{% endblock %}
{% block content %}
<div id="message-container" class="container text-box">
    <p id="secret-message"></p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const { hash, origin } = window.location;
    const encrypted = `{{ encrypted_message }}`;
    const aesKey = hash.slice(1);

    try {
        const decrypted = CryptoJS.AES.decrypt(encrypted, aesKey);
        const secretMessage = decrypted.toString(CryptoJS.enc.Utf8);
        document.getElementById("secret-message").innerText = secretMessage;

        fetch(`${origin}/delete/{{ token }}`, { method: "DELETE", headers: {
            "X-CSRFToken": "{{ csrf_token }}"
        }, })
        .then(response => {
            if (!response.ok) {
                // Handle logging error
                console.log('Logging failure to delete secret message');
            }
        })
        .catch(error => {
            // Handle logging error
            console.log('Logging failure to delete secret message');
        });
    } catch (e) {
        document.getElementById("secret-message").innerText = "Message is not available.";
    }


</script>
{% endblock %}